body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #fff;
    color: #000;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.signature {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.footer-left p {
    margin: 0;
    font-size: 14px;
}

.footer-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
